/*
 * General stylesheet for page layout and design.
 * Includes reset rules, header and navigation styling,
 * responsive layout elements, and basic typography settings.
 */

/* Reset margins and padding */
* {                         /* '*' apply the rules within it to all the elements of the page */
    margin: 0;              /* space outside an element, separating that element from other */
    padding: 0;             /* space within an element, between the border of the element and its content */
    box-sizing: border-box; /* width and height of an element includes border and padding */
}

/* :root selector is used to set variables */
:root {
    --left-padding: 50px;
    --link-color: #1b6e9a;
    --header-color: #417690;
    --breadcrumbs-color: #264b5d;
}

main {
    padding: 20px var(--left-padding);
}

.view-explanation {
    font-size: 20px;
}

/* Container with horizontal scrolling */
.table-container {
    margin-top: 20px;
    overflow-x: auto;  /* Activates horizontal scrolling */
    max-width: 100%;   /* Ensures that the container does not exceed the width of the screen. */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Page body style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
}

/* Logo style */
.admin-style-toolbar .logo {
    flex-shrink: 0;
    max-width: 10%;
}

.admin-style-toolbar .logo img {
    width: 100%;
    height: auto;
}

/* hierarchical navigation */
.breadcrumb {
    font-size: 16px;
    background-color: var(--breadcrumbs-color);
    color: white;
    margin: 0;
    padding: 10px var(--left-padding);
    text-decoration: none;
}

.breadcrumb a {
    color: white;
    text-decoration-line: underline;
}

/* Toolbar */
.admin-style-toolbar {
    background-color: var(--header-color);
    color: white;
    padding: 10px var(--left-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.admin-style-toolbar .toolbar-links a {
    color: white;
    text-decoration: underline;
}

.toolbar-logout-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

/* Navigation links */
.nav-links {
    display: flex;
    align-items: center;        /* Center the content vertically */
    padding: 0 20px;            /* Optional, adds some padding around the nav */
    justify-content: center;
}

.nav-links ul {
    display: flex;              /* aligns list items in a row */
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;               /* Ensures the ul takes the full height of its parent */
    justify-content: center;
}

.nav-links li {
    margin-left: 20px;  /* Space between links */
    height: 100%;       /* Ensures the ul takes the full height of its parent */
}

.nav-links a {
    text-decoration: none;  /* Remove underlining */
    color: black;
    font-size: 25px;
    display: block;
}

/* Add hover for links */
.nav-links a:hover {
    color: var(--link-color);
}

.nav-links a.active {
    color: var(--link-color);
}

