/*
 * General stylesheet for page layout and design.
 * Includes reset rules, header and navigation styling,
 * responsive layout elements, and basic typography settings.
 */

/* Reset margins and padding */
* {                         /* '*' apply the rules within it to all the elements of the page */
    margin: 0;              /* space outside an element, separating that element from other */
    padding: 0;             /* space within an element, between the border of the element and its content */
    box-sizing: border-box; /* width and height of an element includes border and padding */
}

/* :root selector is used to define CSS custom properties (variables) globally */
:root {
    --left-padding: 50px;
    --link-color: #1b6e9a;
    --header-color: #417690;
    --breadcrumbs-color: #264b5d;
}

main {
    padding: 20px var(--left-padding);
}

.view-explanation {
    font-size: 20px;
}

/* Container for platform information */
.platform-info {
    font-size: 18px;
    line-height: 1.5;
}

.platform-info h1, .platform-info h2 {
    font-weight: bold;
}

.platform-info ul {
    margin-left: 20px;
    list-style-type: disc;
}

/* Container with horizontal scrolling enabled */
.table-container {
    margin-top: 20px;
    overflow-x: auto;   /* Enables horizontal scroll if content overflows */
    max-width: 100%;    /* Limits container width to the viewport width */
}

/* Style for all anchor links */
a {
    color: var(--link-color);
    text-decoration: none; /* Remove underline from links */
}

/* Page body style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
}

/* Logo container style within the admin toolbar */
.admin-style-toolbar .logo {
    flex-shrink: 0; /* Prevent the logo from shrinking when flexbox container resizes */
    max-width: 10%;
}

/* Logo image style */
.admin-style-toolbar .logo img {
    width: 100%;    /* Make image fill the container width */
    height: auto;   /* Maintain image aspect ratio */
}

/* Styles for hierarchical navigation (breadcrumb) */
.breadcrumb {
    font-size: 16px;
    background-color: var(--breadcrumbs-color);
    color: white;
    margin: 0;
    padding: 10px var(--left-padding);
    text-decoration: none;
}

/* Styles for links inside breadcrumb */
.breadcrumb a {
    color: white;
    text-decoration-line: underline;
}

/* Toolbar container styles */
.admin-style-toolbar {
    background-color: var(--header-color);
    color: white;
    padding: 10px var(--left-padding);
    display: flex;
    justify-content: space-between; /* Space out child elements evenly */
    align-items: center;            /* Vertically center items */
    margin: 0;
    width: 100%;
}

/* Styles for links inside the toolbar */
.admin-style-toolbar .toolbar-links a {
    color: white;
    text-decoration: underline;
}

/* Styles for the logout button in the toolbar */
.toolbar-logout-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

/* Container for navigation links */
.nav-links {
    display: flex;
    align-items: center;        /* Center the content vertically */
    padding: 0 20px;            /* Horizontal padding around the nav */
    justify-content: center;    /* Center the links horizontally */
}

/* Unordered list inside nav-links */
.nav-links ul {
    display: flex;              /* Arrange list items in a row */
    align-items: center;        /* Vertically center list items */
    list-style-type: none;      /* Remove default bullets */
    margin: 0;
    padding: 0;
    height: 100%;               /* Ensures the ul takes the full height of its parent */
    justify-content: center;
}

/* Individual list items */
.nav-links li {
    margin-left: 20px;  /* Space between links */
    height: 100%;       /* Ensures the ul takes the full height of its parent */
}

/* Anchor links inside the navigation */
.nav-links a {
    text-decoration: none;  /* Remove underlining */
    color: black;
    font-size: 25px;
    display: block;         /* Makes the entire area clickable */
}

/* Hover effect on navigation links */
.nav-links a:hover {
    color: var(--link-color);
}

/* Active navigation link style */
.nav-links a.active {
    color: var(--link-color);
}

