/* Basic table style */
table {
    width: 100%;                /* Use full available width */
    /*width: auto;              /* Table resizes columns based on content */
    max-width: 25%;             /* Limit table width to 25% of viewport */
    table-layout: auto;         /* Allows dynamic column widths */
    margin: 20px 0;             /* Vertical margin (top and bottom) */
    border-collapse: collapse;  /* Collapse borders into single lines */
    text-align: left;
    font-family: Arial, sans-serif;
}

/* Cell styling */
th, td {
    border: 1px solid #ddd;
    padding: 10px 10px;     /* Padding inside cells */
    white-space: nowrap;    /* Prevents text from splitting into multiple lines */
}

/* IMPORTANT: This does not work well yet and needs to be supplemented with JavaScript */
.resizable-td {
    padding: 5px;
    width: auto;
}

.resizable-div {
    white-space: normal;    /* Allow text to wrap */
    word-wrap: break-word;  /* Break long words */
    width: 300px;
    min-width: 100px;
    max-width: 1000px;
    resize: horizontal;
    overflow: auto;
    display: inline-block;
}


/* Table header style */
th {
    background-color: var(--header-color);
    color: white;
}

/* Hover effect */
/* Change background color when hovering over a table row */
tr:hover {
    background-color: #ddd;
}

/* Link hover color change inside table */
table a:hover {
    color: var(--header-color);
}