<!--
    This template customizes the Django admin interface for the Dwarfs4MOSAIC project.
    It extends 'admin/base_site.html', sets a custom title in the browser tab,
    and adds a favicon to visually identify the site.
-->

{# Base template #}
{% extends "admin/base_site.html" %}

{# Static template tags #}
{% load static %}

{# Set the HTML title of the admin page #}
{% block title %}Dwarfs4MOSAIC | Admin{% endblock %}

{% block extrahead %}
    {# Keep any additional head content from the parent template #}
    {{ block.super }}

    {# Add a custom favicon to the admin pages #}
    <link rel="icon" type="image/x-icon" href="{% static 'dwarfs4MOSAIC/icons/favicon.ico' %}">
{% endblock %}
