<!--
    Simple form page to upload the CSV file.
-->

{% extends "admin/change_form.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo;
    <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}
    </a>
    &rsaquo; Import CSV
</div>
{% endblock %}

{% block extrahead %}
<style>
  input.custom-button, a.custom-button {
      padding: 10px 12px;
      font-size: 14px;
      font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 3.0em;">
          <label for="{{ form.csv_file.id_for_label }}">{{ form.csv_file.label }}</label>
          {{ form.csv_file }}
        </div>
        <div style="display: flex; gap: 10px;">
          <input type="submit" value="Import" class="button default custom-button">
          <a href="{% url 'admin:dwarfs4MOSAIC_tbl_observatory_changelist' %}" class="button default custom-button">
              Cancel
          </a>
        </div>
    </form>
{% endblock %}