<!--
    Custom admin template extension to add a button below the submit buttons.
    This button appears only if 'researcher_link' is provided, linking directly to the related Researcher page.
-->

{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {# If 'researcher_link' exists, display a custom button linking to the Researcher #}
    {% if researcher_link %}
        <a href="{{ researcher_link }}" class="button" style="background-color:#417690; color:white; margin-left: 10px; padding: 9px 9px;">
            Open Researcher
        </a>
    {% endif %}
{% endblock %}

