<!--
    Template extending the Django admin change list page.
    Adds a custom "Import CSV" button in the object-tools section
    to allow CSV import functionality for the targets.
-->

{% extends "admin/change_list.html" %}

{# Override the object-tools block to add a custom "Import CSV" button #}
{% block object-tools %}
    {{ block.super }}
    <ul class="object-tools" style="clear: both; margin-top: 10px;">
        <li>
            <a href="{% url 'admin:tbl_target_import_csv' %}">Import CSV</a>
        </li>
    </ul>
{% endblock %}