
<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'dwarfs4MOSAIC/base.css' %}">
        <link rel="stylesheet" href="{% static 'dwarfs4MOSAIC/tables.css' %}">
    </head>

    <body>
        <!-- Header -->
        <header class="header">
            <!-- Logo -->

            <div class="logo">
                <a href="https://guaix.ucm.es/dwarfs4mosaic/" target="_blank">
                    <img src="{% static 'dwarfs4MOSAIC/images/logo_dwarfs4mosaic.png' %}"
                         alt="dwarfs4MOSAIC logo">
                </a>
            </div>


            <!-- Options -->
            <nav class="nav-links">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}" title="{{ 'Main page' }}">HOME</a></li>
                        {% if user.groups.all.0.name == 'Collaborator' %}

                        {% elif user.groups.all.0.name == 'Core Team' %}
                            <li><a href="{% url 'database' %}" title="{{ 'Database tables page' }}">DATABASE</a></li>

                        {% elif user.is_superuser %}
                            <li><a href="{% url 'database' %}" title="{{ 'Database tables page' }}">DATABASE</a></li>
                            <li><a href="{% url 'admin:index' %}" title="{{ 'Database administration page' }}">ADMIN</a></li>

                        {% endif %}
                    {% endif %}
                </ul>
            </nav>

            <!-- Login / logout -->
            <nav class="nav-links">
                <ul>
                    {% if user.is_authenticated %}
                        <!-- Logout button -->
                        <form method="post" action="{% url 'logout' %}" >
                            {% csrf_token %}
                            <button type="submit" style="cursor:pointer; background-color: var(--header-color);
                                    color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;
                                    font-size: 16px;">
                                Logout
                            </button>
                        </form>
                    {% else %}
                        <li><a href="{% url 'admin:login' %}?next=/home/" style="cursor:pointer;
                               background-color: var(--header-color); color: white;
                               padding: 10px 20px; border-radius: 5px; text-decoration: none;">
                            Login
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!-- Divider Line -->
        <div class='custom-divider'></div>

        <!-- Breadcrumb -->
        {% if user.is_authenticated %}
            <div class="breadcrumb">
                <p>
                    Welcome
                    {% if user.is_superuser %}
                        ADMIN
                    {% else %}
                        {{ user.first_name|upper }}
                    {% endif %}
                </p>
                <p>
                    You are here:
                    {% block breadcrumb %} {% endblock %}
                </p>
            </div>
        {% endif %}

        <!-- Divider Line -->
        <div class='custom-divider'></div>

        <!-- Main content area -->
        <main>
            {% block content %}
            <!-- Each view's content will go here -->
            {% endblock %}
        </main>

        <!-- Scripts -->
        {% include "dwarfs4MOSAIC/base_scripts.html" %}
    </body>
</html>
