
{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} database {% endblock %}

{% block breadcrumb %} Database {% endblock %}

{% block content %}
    <body>
        <p style="color: red; font-weight: bold;">
            This page contains all the tables in the database, for the sole purpose of checking that their
            content is as expected.<br>
            Note that this option will not be available in the final version of this website.
        </p>
        <br>
        <h1>Database</h1>
        <table>
            <thead>
                <tr>
                    <th>TABLE</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="{% url 'observatories' %}">observatory</a></td></tr>
                <tr><td><a href="{% url 'telescopes' %}">telescope</a></td></tr>
                <tr><td><a href="{% url 'instruments' %}">instrument</a></td></tr>
                <tr><td><a href="{% url 'members' %}">member</a></td></tr>
                <tr><td><a href="{% url 'observing_runs' %}">observing_run</a></td></tr>
                <tr><td><a href="{% url 'observing_blocks' %}">observing_block</a></td></tr>
            </tbody>
        </table>
    </body>
{% endblock %}