<!--
    Database Overview Page Template

    Displays a list of database tables with links to their detailed content views.
    Allows users to navigate quickly between different database tables.

    Extends the main base template and uses breadcrumb navigation for context.
-->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load custom_tags %}

{% block title %}{% html_title "Database" %}{% endblock %}

{% block breadcrumb %} Database {% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Database table query interface</h1>
    <br>
    <p class="view-explanation">
        List of database tables along with all their fields and corresponding content.
    </p>

    <!-- Database tables list -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>TABLE NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="{% url 'instruments' %}?from_page=database">instrument</a></td></tr>
                <tr><td><a href="{% url 'observatories' %}?from_page=database">observatory</a></td></tr>
                <tr><td><a href="{% url 'observing_blocks' %}?from_page=database">observing_block</a></td></tr>
                <tr><td><a href="{% url 'observing_runs' %}?from_page=database">observing_run</a></td></tr>
                <tr><td><a href="{% url 'researchers' %}?from_page=database">researcher</a></td></tr>
                <tr><td><a href="{% url 'targets' %}?from_page=database">target</a></td></tr>
                <tr><td><a href="{% url 'telescopes' %}?from_page=database">telescope</a></td></tr>
            </tbody>
        </table>
    </section>
{% endblock %}