
{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} database {% endblock %}

{% block breadcrumb %} Database {% endblock %}

{% block content %}
    <body>
        <h1>Database table query interface</h1>
        <br>
        <p style="font-size: 20px;">
            List of database tables along with all their fields and corresponding content.
        </p>
        <table>
            <thead>
                <tr>
                    <th>TABLE NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="{% url 'instruments' %}">instrument</a></td></tr>
                <tr><td><a href="{% url 'observatories' %}">observatory</a></td></tr>
                <tr><td><a href="{% url 'observing_blocks' %}">observing_block</a></td></tr>
                <tr><td><a href="{% url 'observing_runs' %}">observing_run</a></td></tr>
                <tr><td><a href="{% url 'researchers' %}">researcher</a></td></tr>
                <tr><td><a href="{% url 'targets' %}">target</a></td></tr>
                <tr><td><a href="{% url 'telescopes' %}">telescope</a></td></tr>
            </tbody>
        </table>
    </body>
{% endblock %}