<!--
    Template to display a table of Group objects stored in Django.

    Arguments:
    - lst_groups: List of Group objects, each containing related users, allowed observing blocks, and permissions.
-->

{# Base template #}
{% extends 'dwarfs4MOSAIC/base.html' %}

{# Static template tags #}
{% load custom_tags %}
{% load static %}

{# Sets the page title #}
{% block title %}{% html_title "Groups" %}{% endblock %}

{# Defines the breadcrumb text for navigation #}
{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Groups
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Groups table</h1>

    <!-- Groups table -->
    <section class="table-container">
        <table>
            <!-- Table header with column names -->
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>MEMBERS</th>
                    <th>ALLOWED OBSERVING BLOCKS</th>
                    <th>ADMINISTRATION PERMISSIONS</th>
                </tr>
            </thead>

            <!-- Table body: iterate through the list of groups -->
            <tbody>
                {% for group in lst_groups %}
                <tr>
                    <!-- Name -->
                    <td> {{ group.name }} </td>

                    <!-- Users belonging to the group -->
                    <td>
                        {% for user in group.user_set.all %}
                            {{ user.username }} <br>
                        {% endfor %}
                    </td>

                    <!-- Allowed observing blocks for the group -->
                    <td>
                        {% for g in group.allowed_blocks.all %}
                            {{ g.detailed_name }} <br>
                        {% endfor %}
                    </td>

                    <!-- Administration permissions assigned to the group -->
                    <td>
                        {% for p in group.permissions.all %}
                            {{ p.name }} <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
