<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'dwarfs4MOSAIC/home.css' %}">
</head>
<body>
    <h1>Dwarfs4MOSAIC Home Page</h1>

    <nav>
        <ul>
            <li><a href="{% url 'observatories' %}">Observatories</a></li>
            <li><a href="{% url 'telescopes' %}">Telescopes</a></li>
            <li><a href="{% url 'instruments' %}">Instruments</a></li>
        </ul>
    </nav>
</body>
</html>
