
<!-- Argument: 'lst_instruments'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} instruments {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Instruments
{% endblock %}

{% block content %}
    <body>
        <h1>Instruments</h1>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>TELESCOPE</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in lst_instruments %}
                <tr>
                    <td><a href="{% url 'instrument' instrument_name=instrument.instrument_name %}">{{ instrument.instrument_name }}</a></td>
                    <td>{{ instrument.telescope_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
