<!--
    Template to display the list of telescopes belonging to a specific observatory.

    Arguments:
    - observatory_name: Name of the current observatory.
    - lst_telescopes: List of telescope objects associated with the observatory.
-->

{# Base template #}
{% extends 'dwarfs4MOSAIC/base.html' %}

{# Static template tags #}
{% load custom_tags %}
{% load static %}

{# Sets the page title #}
{% block title %}{% html_observatory_title observatory_name %}{% endblock %}

{# Defines the breadcrumb text for navigation #}
{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'observatories' %}">Observatories</a> &gt
    {{ observatory_name }}
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Observatory: {{ observatory_name }}</h1>
    <br>

    <!-- Brief explanation about the content -->
    <p class="view-explanation">Telescopes belonging to the observatory.</p>

    <!-- Telescopes table -->
    <section class="table-container">
        <table>
            <!-- Table header with column names -->
            <thead>
                <tr>
                    <th>TELESCOPE</th>
                    <th>DESCRIPTION</th>
                    <th>OWNER</th>
                    <th>STATUS</th>
                    <th style="text-align: center;">APERTURE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>

            <!-- Table body: iterate through the list of telescopes -->
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <!-- Name linking to the telescope detail page -->
                    <td>
                        <a href="{% url 'telescope' telescope_name=telescope.name %}?from_page=observatory">
                            {{ telescope.name }}
                        </a>
                    </td>

                    <!-- Description if available -->
                    {% if telescope.description %}
                         <td> {{ telescope.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <!-- Owner with resizable text container -->
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ telescope.owner }}
                        </div>
                    </td>

                    <!-- Status -->
                    <td>{{ telescope.status }}</td>

                     <!-- Aperture -->
                    <td>{{ telescope.aperture }}</td>

                    <!-- Website link with icon (if available) -->
                    {% if telescope.website %}
                        <td style="text-align: center;">
                            <a href="{{ telescope.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
