
<!-- Argument: 'lst_observatories'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load filters %}

{% block title %} observatories {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observatories
{% endblock %}

{% block content %}
    <body>
        <h1>Observatories</h1>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>LOCATION</th>
                    <th>LONGITUDE</th>
                    <th>LATITUDE</th>
                </tr>
            </thead>
            <tbody>
                {% for observatory in lst_observatories %}
                <tr>
                    <td><a href="{% url 'observatory' observatory_name=observatory.name %}">{{ observatory.name }}</a></td>
                    <td>{{ observatory.location }}</td>
                    <td>{{ observatory.longitude|convert_to_dms:"longitude" }}</td>
                    <td>{{ observatory.latitude|convert_to_dms:"latitude" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
