<!--
    Template to display the list of observatories stored in the database.

    Argument:
    - lst_observatories: List of observatory objects to display.
-->

{# Base template #}
{% extends 'dwarfs4MOSAIC/base.html' %}

{# Static template tags #}
{% load custom_tags %}
{% load filters %}
{% load static %}

{# Sets the page title #}
{% block title %}{% html_title "Observatories" %}{% endblock %}

{# Defines the breadcrumb text for navigation #}
{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observatories
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Observatories table</h1>

    <!-- Observatories table -->
    <section class="table-container">
        <table>
            <!-- Table header with column names -->
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>LOCATION</th>
                    <th>LONGITUDE (DD:MM:SS)</th>
                    <th>LATITUDE (DD:MM:SS)</th>
                    <th>ALTITUDE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>

            <!-- Table body: iterate through the list of observatories -->
            <tbody>
                {% for observatory in lst_observatories %}
                <tr>
                    <!-- Name with link to details page -->
                    <td>
                        <a href="{% url 'observatory' observatory_name=observatory.name %}?from_page=observatories">
                            {{ observatory.name }}
                        </a>
                    </td>

                    <!-- Location -->
                    <td>{{ observatory.location }}</td>

                    <!-- Coordinates in DMS format -->
                    <td>
                        {{ observatory.longitude|default_if_none:"" }}
                    </td>
                    <td>
                        {{ observatory.latitude|default_if_none:"" }}
                    </td>

                    <!-- Altitude -->
                    <td>{{ observatory.altitude|default_if_none:"" }}</td>

                    <!-- Website link with icon if available -->
                    {% if observatory.website %}
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="{{ observatory.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
