
<!-- Arguments: 'observatory_name', 'lst_telescopes'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}{% html_observatory_title observatory_name %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'observatories' %}">Observatories</a> &gt
    {{ observatory_name }}
{% endblock %}

{% block content %}
    <!-- Header -->
    <h1>Observatory: {{ observatory_name }}</h1>
    <br>
    <p class="view-explanation">Telescopes belonging to the observatory.</p>

    <!-- Table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>TELESCOPE</th>
                    <th>DESCRIPTION</th>
                    <th>OWNER</th>
                    <th>STATUS</th>
                    <th style="text-align: center;">APERTURE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <td>
                        <a href="{% url 'telescope' telescope_name=telescope.name %}?from_page=observatory">
                            {{ telescope.name }}
                        </a>
                    </td>
                    {% if telescope.description %}
                         <td> {{ telescope.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ telescope.owner }}
                        </div>
                    </td>
                    <td>{{ telescope.status }}</td>
                    <td>{{ telescope.aperture }}</td>
                    {% if telescope.website %}
                        <td style="text-align: center;">
                            <a href="{{ telescope.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
