<!--
    Template to display the table of all observing runs stored in the database.

    Argument:
    - lst_observing_runs: List of observing run objects to display.
-->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load custom_tags %}

{% block title %}{% html_title "Observing Runs" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observing Runs
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Observing Runs table</h1>

    <!-- Observing runs table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>INSTRUMENT</th>
                    <th>DESCRIPTION</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>COMMENTS</th>
                </tr>
            </thead>
            <tbody>
                {% for observing_run in lst_observing_runs %}
                <tr>
                    <td>
                        <!-- Link to individual observing run detail view -->
                        <a href="{% url 'observing_run' observing_run_name=observing_run.name %}?from_page=observing_runs">
                            {{ observing_run.name }}
                        </a>
                    </td>
                    <td>{{ observing_run.instrument.name }}</td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ observing_run.description }}
                        </div>
                    </td>
                    <td>{{ observing_run.start_date }}</td>
                    <td>{{ observing_run.end_date|default_if_none:"" }}</td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ observing_run.comments }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
