<!--
    Template to display the list of observing blocks stored in the database.

    Argument:
    - lst_observing_blocks: List of observing block objects to display.
-->

{# Base template #}
{% extends 'dwarfs4MOSAIC/base.html' %}

{# Static template tags #}
{% load custom_tags %}

{% block title %}{% html_title "Observing Blocks" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observing Blocks
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Observing Blocks table</h1>

    <!-- Observing blocks table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>OBSERVING RUN</th>
                    <th>DESCRIPTION</th>
                    <th>START TIME</th>
                    <th>END TIME</th>
                    <th>TARGET</th>
                    <th>OBSERVATION MODE</th>
                    <th>FILTERS</th>
                    <th>EXPOSURE TIME</th>
                    <th>SEEING</th>
                    <th>WEATHER CONDITIONS</th>
                    <th>COMMENTS</th>
                </tr>
            </thead>
            <tbody>
                {% for block in lst_observing_blocks %}
                <tr>
                    <td>{{ block.name }}</td>
                    <td>
                        <a href="{% url 'observing_run' observing_run_name=block.obs_run.name %}?from_page=observing_blocks">
                            {{ block.obs_run.name }}
                        </a>
                    </td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ block.description }}
                        </div>
                    </td>
                    <td>{{ block.start_time }}</td>
                    <td>{{ block.end_time|default_if_none:"" }}</td>
                    <td>
                        {% for target in block.target.all %}
                            {{ target.name }} <br>
                        {% endfor %}
                    </td>
                    <td>{{ block.observation_mode }}</td>
                    <td>{{ block.filters|default_if_none:"" }}</td>
                    <td>{{ block.exposure_time|default_if_none:"" }}</td>
                    <td>{{ block.seeing|default_if_none:"" }}</td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ block.weather_conditions }}
                        </div>
                    </td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ block.comments }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
