
<!-- Argument: 'lst_observing_runs'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} observing_runs {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observing Runs
{% endblock %}

{% block content %}
    <body>
        <h1>Observing Runs</h1>
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>INSTRUMENT</th>
                        <th>DESCRIPTION</th>
                        <th>TARGET</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                        <th>COMMENTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observing_run in lst_observing_runs %}
                    <tr>
                        <td>
                            <a href="{% url 'observing_run' observing_run_name=observing_run.name %}">
                                {{ observing_run.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'instrument' instrument_name=observing_run.instrument.name %}">
                                {{ observing_run.instrument.name }}
                            </a>
                        </td>
                        <td class="resizable-td">
                            <div class="resizable-div">
                                {{ observing_run.description }}
                            </div>
                        </td>
                        <td> TBD </td>
                        <td>{{ observing_run.start_date }}</td>
                        <td>{{ observing_run.end_date }}</td>
                        <td class="resizable-td">
                            <div class="resizable-div">
                                {{ observing_run.comments }}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
{% endblock %}
