
<!-- Arguments: 'observatory_name', 'lst_telescopes', 'previous_page'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} observatory {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'observatories' %}">Observatories</a> &gt
    {{ observatory_name }}
{% endblock %}

{% block content %}

    <body>
        <h1>Observatory: {{ observatory_name }}</h1>

        <table>
            <thead>
                <tr>
                    <th>TELESCOPE</th>
                    <th>DESCRIPTION</th>
                    <th>OWNER</th>
                    <th>STATUS</th>
                    <th>APERTURE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <td><a href="{% url 'telescope' telescope_name=telescope.name %}">{{ telescope.name }}</a></td>
                    {% if telescope.description %}
                         <td> {{ telescope.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td style="padding: 5px;">
                        <div style="white-space: normal; word-wrap: break-word; width: 100%; max-width: 1000px;
                                    resize: horizontal; overflow: auto;">
                            {{ telescope.owner }}
                        </div>
                    </td>
                    <td>{{ telescope.status }}</td>
                    <td>{{ telescope.aperture }}</td>
                    {% if telescope.website %}
                        <td style="text-align: center;">
                            <a href="{{ telescope.website }}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
