
<!-- Arguments: 'observatory_name', 'lst_telescopes', 'previous_page'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} observatory {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'observatories' %}">Observatories</a> &gt
    {{ observatory_name }}
{% endblock %}

{% block content %}

    <body>
        <h1>Observatory: {{ observatory_name }}</h1>

        <table>
            <thead>
                <tr>
                    <th>TELESCOPE</th>
                </tr>
            </thead>
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <td><a href="{% url 'telescope' telescope_name=telescope.name %}">{{ telescope.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
