<!--
    Template to display the list of observatories stored in the database.

    Argument:
    - lst_observatories: List of observatory objects to display.
-->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load static %}
{% load filters %}
{% load custom_tags %}

{% block title %}{% html_title "Observatories" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observatories
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Observatories table</h1>

    <!-- Observatories table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>LOCATION</th>
                    <th>LONGITUDE</th>
                    <th>LATITUDE</th>
                    <th>ALTITUDE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                {% for observatory in lst_observatories %}
                <tr>
                    <td>
                        <a href="{% url 'observatory' observatory_name=observatory.name %}?from_page=observatories">
                            {{ observatory.name }}
                        </a>
                    </td>
                    <td>{{ observatory.location }}</td>
                    <td>{{ observatory.longitude|convert_to_dms:"longitude" }}</td>
                    <td>{{ observatory.latitude|convert_to_dms:"latitude" }}</td>
                    <td>{{ observatory.altitude|default_if_none:"" }}</td>
                    {% if observatory.website %}
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="{{ observatory.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
