
<!-- Argument: 'lst_observatories'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load filters %}

{% block title %} observatories {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observatories
{% endblock %}

{% block content %}
    <body>
        <h1>Observatories table</h1>
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>LOCATION</th>
                        <th>LONGITUDE</th>
                        <th>LATITUDE</th>
                        <th>ALTITUDE</th>
                        <th>WEBSITE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observatory in lst_observatories %}
                    <tr>
                        <td><a href="{% url 'observatory' observatory_name=observatory.name %}">{{ observatory.name }}</a></td>

                        <td>{{ observatory.location }}</td>
                        <td>{{ observatory.longitude|convert_to_dms:"longitude" }}</td>
                        <td>{{ observatory.latitude|convert_to_dms:"latitude" }}</td>
                        <td>{{ observatory.altitude|default_if_none:"" }}</td>
                        {% if observatory.website %}
                            <td style="text-align: center;">
                                <a href="{{ observatory.website }}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
{% endblock %}
