
<!-- Argument: 'lst_observatories'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} observatories {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Observatories
{% endblock %}

{% block content %}
    <body>
        <h1>Observatories</h1>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                {% for observatory in lst_observatories %}
                <tr>
                    <td><a href="{% url 'observatory' observatory_name=observatory.1 %}">{{ observatory.1 }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
