<!--
    Template to display the list of researchers stored in the database.

    Argument:
    - lst_researchers: List of researcher objects to display.
-->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load custom_tags %}

{% block title %}{% html_title "Researchers" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Researchers
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Researchers table</h1>

    <!-- Researchers table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>ROLE</th>
                    <th>GROUP</th>
                    <th>PhD</th>
                    <th>INSTITUTION</th>
                    <th>OBSERVING RUNS</th>
                    <th>DENIED OBSERVING BLOCKS</th>
                    <th>EMAIL</th>
                    <th>COMMENTS</th>
                </tr>
            </thead>
            <tbody>
                {% for researcher in lst_researchers %}
                <tr>
                    <td>{{ researcher.display_name }}</td>
                    <td>{{ researcher.role }}</td>
                    <td>
                        {% for group in researcher.user.groups.all %}
                            {{ group.name }} <br>
                        {% endfor %}
                    </td>
                    <!-- PhD status with icon -->
                    <td>
                        {% if researcher.is_phd %}
                            <span style="color: green;">✔</span>
                        {% else %}
                            <span style="color: red;">✘</span>
                        {% endif %}
                    </td>
                    <td>{{ researcher.institution|default_if_none:""  }}</td>
                    <!-- Related observing runs -->
                    <td>
                        {% for observing_run in researcher.observing_runs.all %}
                            <a href="{% url 'observing_run' observing_run_name=observing_run.name %}?from_page=researchers">
                                {{ observing_run.name }}
                            </a>
                            <br>
                        {% endfor %}
                    </td>
                    <!-- Allowed observing blocks -->
                    <td>
                        {% for block in researcher.denied_blocks.all %}
                            {{ block.detailed_name }}<br>
                        {% endfor %}
                    </td>
                    {% if researcher.email %}
                        <td style="text-align: center;"> {{ researcher.email }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ researcher.comments }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
