<!--
    Template to display the list of targets stored in the database.

    Argument:
    - lst_targets: List of target objects to be displayed in the table.
-->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}{% html_title "Targets" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Targets
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Targets table</h1>
    <br>
    <p class="view-explanation">Table content in the database.</p>

    <!-- Targets table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>OBSERVING BLOCK</th>
                    <th>TYPE</th>
                    <th>RA</th>
                    <th>DEC</th>
                    <th>
                        MAG
                        <img src="{% static 'dwarfs4MOSAIC/icons/circle-info-solid-white.svg' %}"
                             alt="Info" style="width: 12px; height: 12px;"
                             title="Referenced to Vega System">
                    </th>
                    <th>Z</th>
                    <th>SIZE (arcsec)</th>
                    <th>VISIBILITY SEMESTER</th>
                    <th>COMMENTS</th>
                    <th>
                        DATA FILES PATH
                        <img src="{% static 'dwarfs4MOSAIC/icons/circle-info-solid-white.svg' %}"
                             alt="Info" style="width: 12px; height: 12px;"
                             title="Relative to MEDIA_ROOT">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for target in lst_targets %}
                <tr>
                    <td>
                        {% if target.image_name %}
                            <img src="{{ target.image_url }}" alt="{{ target.name }}" style="width: 200px;">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </td>
                    <td>{{ target.name }}</td>

                    <!-- Associated observing blocks -->
                    <td>
                        {% for block in target.observing_blocks.all %}
                            {{ block.name }} <br>
                        {% endfor %}
                    </td>

                    <td>{{ target.type }}</td>

                    <!-- Equatorial coordinates -->
                    <td>{{ target.right_ascension|default_if_none:"" }}</td>
                    <td>{{ target.declination|default_if_none:"" }}</td>

                    <td title="Magnitudes referenced to Vega System">{{ target.magnitude|default_if_none:"" }}</td>
                    <td>{{ target.redshift|default_if_none:"" }}</td>
                    <td>{{ target.size|default_if_none:"" }}</td>
                    <td>{{ target.semester }}</td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ target.comments }}
                        </div>
                    </td>

                    <!-- Path to associated data files -->
                    <td>
                        {% if target.datafiles_path %}
                            {{ target.datafiles_path }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}