
<!-- Argument: 'lst_telescopes', 'last_page'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} telescopes {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Telescopes
{% endblock %}

{% block content %}
    <body>
        <h1>Telescopes table</h1>
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>OBSERVATORY</th>
                        <th>OWNER</th>
                        <th>STATUS</th>
                        <th style="text-align: center;">APERTURE<br>(m)</th>
                        <th>WEBSITE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for telescope in lst_telescopes %}
                    <tr>
                        <td>
                            <a href="{% url 'telescope' telescope_name=telescope.name %}">
                                {{ telescope.name }}
                            </a>
                        </td>
                        {% if telescope.description %}
                             <td> {{ telescope.description }} </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'observatory' observatory_name=telescope.obs_tel.name %}">
                                {{ telescope.obs_tel.name }}
                            </a>
                        </td>
                        <td class="resizable-td">
                            <div class="resizable-div">
                                {{ telescope.owner }}
                            </div>
                        </td>
                        <td style="color:
                                {% if telescope.status == 'inoperative' %} red
                                {% elif telescope.status == 'maintenance'%} #ff6200
                                {% else %} black
                                {% endif %};">
                            {{ telescope.status }}
                        </td>
                        <td>{{ telescope.aperture }}</td>
                        {% if telescope.website %}
                            <td style="text-align: center;">
                                <a href="{{ telescope.website }}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
{% endblock %}
