<!--
    Template to display a table of telescopes stored in the database.

    Arguments:
    - lst_telescopes: List of telescope objects.
    - last_page: (Optional) Name of the page from which the user came; used to maintain navigation flow.
-->

{# Base template #}
{% extends 'dwarfs4MOSAIC/base.html' %}

{# Static template tags #}
{% load custom_tags %}
{% load static %}

{# Sets the page title #}
{% block title %}{% html_title "Telescopes" %}{% endblock %}

{# Defines the breadcrumb text for navigation #}
{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Telescopes
{% endblock %}

{% block content %}
    <!-- Page header -->
    <h1>Telescopes table</h1>

    <!-- Telescopes table -->
    <section class="table-container">
        <table>
            <!-- Table header with column names -->
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>OBSERVATORY</th>
                    <th>OWNER</th>
                    <th>STATUS</th>
                    <th style="text-align: center;">APERTURE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>

            <!-- Table body: iterate through the list of telescopes -->
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <!-- Name with link to details page -->
                    <td>
                        <a href="{% url 'telescope' telescope_name=telescope.name %}?from_page=telescopes">
                            {{ telescope.name }}
                        </a>
                    </td>

                    <!-- Description if available -->
                    {% if telescope.description %}
                         <td> {{ telescope.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <!-- Observatory where the telescope is located with link to observatory details -->
                    <td>
                        <a href="{% url 'observatory' observatory_name=telescope.obs_tel.name %}?from_page=telescopes">
                            {{ telescope.obs_tel.name }}
                        </a>
                    </td>

                    <!-- Owner with resizable text container -->
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ telescope.owner }}
                        </div>
                    </td>

                    <!-- Operational status with color codes -->
                    <td style="color:
                            {% if telescope.status == 'inoperative' %} red
                            {% elif telescope.status == 'maintenance'%} #ff6200
                            {% else %} black
                            {% endif %};">
                        {{ telescope.status }}
                    </td>

                    <!-- Aperture size in meters -->
                    <td>{{ telescope.aperture }}</td>

                    <!-- Website link if available -->
                    {% if telescope.website %}
                        <td style="text-align: center;">
                            <a href="{{ telescope.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
