
<!-- Arguments: 'telescope', 'lst_instruments'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} Telescope: {{ telescope.name }} {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'telescopes' %}">Telescopes</a> &gt
    {{ telescope.name }}

    <p>Procedente de: {{ from_page }}</p>
{% endblock %}

{% block content %}
    <body>
        <h1>
            Telescope: {{ telescope.name }}
            {% if telescope.description %}
                <td> ({{ telescope.description }}) </td>
            {% endif %}
        </h1>
        <br>
        <h2>
            Instruments belonging to the telescope
        </h2>
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>INSTRUMENT</th>
                        <th>DESCRIPTION</th>
                        <th>STATUS</th>
                        <th>WEBSITE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instrument in lst_instruments %}
                    <tr>
                        <td>{{ instrument.name }}</td>
                        {% if instrument.description %}
                             <td> {{ instrument.description }} </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td style="color: {% if instrument.status == 'inoperative' %}red{% else %}black{% endif %};">
                            {{ instrument.status }}
                        </td>
                        {% if instrument.website %}
                            <td style="text-align: center;">
                                <a href="{{ instrument.website }}" target="_blank">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </body>
{% endblock %}