
<!-- Arguments: 'telescope', 'lst_instruments'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}

{% block title %} Telescope: {{ telescope.name }} {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'telescopes' %}">Telescopes</a> &gt
    {{ telescope.name }}
{% endblock %}

{% block content %}
    <body>
        <h1>Telescope: {{ telescope.name }}</h1>

        <table>
            <thead>
                <tr>
                    <th>INSTRUMENT</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in lst_instruments %}
                <tr>
                    <td><a href="{% url 'instrument' instrument_name=instrument.name %}">{{ instrument.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}