
<!-- Arguments: 'telescope', 'lst_instruments'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load static %}

{% block title %} Telescope: {{ telescope.name }} {% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    <a href="{% url 'telescopes' %}">Telescopes</a> &gt
    {{ telescope.name }}
{% endblock %}

{% block content %}
    <!-- Header -->
    <h1>
        Telescope: {{ telescope.name }}
        {% if telescope.description %}
            <td> ({{ telescope.description }}) </td>
        {% endif %}
    </h1>
    <br>
    <p class="view-explanation">Instruments belonging to the telescope.</p>

    <!-- Table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>INSTRUMENT</th>
                    <th>DESCRIPTION</th>
                    <th>STATUS</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in lst_instruments %}
                <tr>
                    <td>{{ instrument.name }}</td>
                    {% if instrument.description %}
                         <td> {{ instrument.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td style="color: {% if instrument.status == 'inoperative' %}red{% else %}black{% endif %};">
                        {{ instrument.status }}
                    </td>
                    {% if instrument.website %}
                        <td style="text-align: center;">
                            <a href="{{ instrument.website }}" target="_blank" title="{{ 'visit Site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}