
<!-- Argument: 'lst_telescopes', 'last_page'  -->

{% extends 'dwarfs4MOSAIC/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}{% html_title "Telescopes" %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'database' %}">Database</a> &gt
    Telescopes
{% endblock %}

{% block content %}
    <!-- Header -->
    <h1>Telescopes table</h1>
    <br>
    <p class="view-explanation">Table content in the database.</p>

    <!-- Table -->
    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>OBSERVATORY</th>
                    <th>OWNER</th>
                    <th>STATUS</th>
                    <th style="text-align: center;">APERTURE (m)</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                {% for telescope in lst_telescopes %}
                <tr>
                    <td>
                        <a href="{% url 'telescope' telescope_name=telescope.name %}?from_page=telescopes">
                            {{ telescope.name }}
                        </a>
                    </td>
                    {% if telescope.description %}
                         <td> {{ telescope.description }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'observatory' observatory_name=telescope.obs_tel.name %}?from_page=telescopes">
                            {{ telescope.obs_tel.name }}
                        </a>
                    </td>
                    <td class="resizable-td">
                        <div class="resizable-div">
                            {{ telescope.owner }}
                        </div>
                    </td>
                    <td style="color:
                            {% if telescope.status == 'inoperative' %} red
                            {% elif telescope.status == 'maintenance'%} #ff6200
                            {% else %} black
                            {% endif %};">
                        {{ telescope.status }}
                    </td>
                    <td>{{ telescope.aperture }}</td>
                    {% if telescope.website %}
                        <td style="text-align: center;">
                            <a href="{{ telescope.website }}" target="_blank" title="{{ 'Visit site' }}">
                                <img src="{% static 'dwarfs4MOSAIC/icons/arrow-up-right-from-square-solid.svg' %}"
                                     alt="Visit Site" style="width: 15px; height: 15px;">
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
