<!--
    IMPORTANT

    This file implements the 'reset password' functionality.
    It was working correctly in July 2025, but the feature was disabled.
    The code is retained in case it is decided to enable it in the future.
    To do so, delete {% comment %} and {% endcomment %}
-->

<!--
This template extends the default Django admin base layout to display
a confirmation page for users who have successfully reset their password.

It customizes the page title, provides a breadcrumb link back to the main site,
and shows a message confirming that the password has been set,
including a link to log in to the admin panel.
-->

{% comment %}

{% extends "admin/base.html" %}

{% block title %}Dwarfs4MOSAIC | Password reset complete{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}" class="btn btn-primary">Return to site</a>
    </div>
{% endblock %}

{% block content %}
  <p>Your password has been set. You can now <a href="{% url 'admin:login' %}?next=/home/">log in</a>.</p>
{% endblock %}

{% endcomment %}