<!--
This template extends the Django admin base layout and provides a page
for users to set a new password. It customizes the page title, adds a
breadcrumb link to return to the home page, and displays a form to
submit the new password securely with CSRF protection.
-->

{% extends "admin/base.html" %}

{% block title %}Dwarfs4MOSAIC | Set new password{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}" class="btn btn-primary">Return to site</a>
    </div>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
  </form>
{% endblock %}